/* Layout da HomePage*/
/* Grid Area */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
.area-homepage{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'aside main article'
    'footer footer footer';
    grid-template-columns: repeat(3,1fr); /* 3 colunas de tamanho igual*/
    grid-template-rows: 0.5fr 0.5fr 2.5fr 1fr; /* 4 linhas de tamanhos diferentes*/
    gap: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
header{
    grid-area: header;
    border: 1px solid black;
    background-color: lightgray;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    background-color: lightgray;
}
aside{
    grid-area: aside;
    border: 1px solid blue;
    background-color: lightgray;
}
article{
    grid-area: article;
    border: 1px solid blue;
    background-color: lightgray;
}
main{
    grid-area: main;
    border: 1px solid blue;
    background-color: lightgray;
}
footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: lightgray;
}

/* Layout da Sobre */
/* Grid Area */
.area-sobre{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'aside main article'
    'section section section'
    'footer footer footer';
    grid-template-columns: 0.5fr 2fr 0.5fr; /* 3 colunas de tamanho igual*/
    grid-template-rows: 0.5fr 0.5fr 2.5fr 1fr 1fr; /* 5 linhas de tamanhos diferentes*/
    gap: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

header{
    grid-area: header;
    border: 1px solid black;
    background-color: white;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    background-color: white;
}
aside{
    grid-area: aside;
    border: 1px solid blue;
    background-color: white;
}
article{
    grid-area: article;
    border: 1px solid blue;
    background-color: white;
}
main{
    grid-area: main;
    border: 1px solid blue;
    background-color: white;
}

section{
    grid-area: section;
    border: 1px solid black;
    background-color: white;
}


footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: white;
}
/* Layout da Contato */
/* Grid Area */
.area-contato{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'section section section'
    'aside main article'
    'footer footer footer';
    grid-template-columns: 2fr 0.5fr 0.5fr; /* 3 colunas de tamanho igual*/
    grid-template-rows: 0.5fr 0.5fr 1fr 2.5fr 1fr; /* 5 linhas de tamanhos diferentes*/
    gap: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
header{
    grid-area: header;
    border: 1px solid black;
    background-color: white;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    background-color: white;
}

section{
    grid-area: section;
    border: 1px solid black;
    background-color: white;
}
aside{
    grid-area: aside;
    border: 1px solid blue;
    background-color: white;
}
article{
    grid-area: article;
    border: 1px solid blue;
    background-color: white;
    
}
main{
    grid-area: main;
    border: 1px solid blue;
    background-color: white;
}
footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: white;
}

/*Flexbox HomePage*/

/* Header container homepage*/
.header-container-homepage{
    border: 3px solid red;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}

/* Nav container homepage*/
.nav-container-homepage{
    border: 3px solid red;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
   
}

/* Aside container homepage*/
.aside-container-homepage{
    border: 3px solid red;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/* Main container homepage*/
.main-container-homepage{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/* Article container homepage*/
.article-container-homepage{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */

}
/* Footer container homepage*/
.footer-container-homepage{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
    
}

/* Flexbox Sobre */

/* Header container sobre*/
.header-container-sobre{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/* Nav container sobre*/
.nav-container-sobre{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/*Aside container sobre*/
.aside-container-sobre{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/* Main container sobre */
.main-container-sobre{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/* Article container sobre */
.article-container-sobre{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/*Section container sobre*/
.section-container-sobre{
    border: 3px solid red;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}

/* Footer container sobre*/
.footer-container-sobre{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}

/*Flexbox Contato*/

/* Header container contato*/
.header-container-contato{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}

/* Nav container contato*/
.nav-container-contato{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/*Section container contato*/
.section-container-contato{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */

}

/* Aside container contato*/
.aside-container-contato{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */

}
/* Main container contato*/
.main-container-contato{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/* Article container contato*/
.article-container-contato{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
/* Footer container contato*/
.footer-container-contato{
    border: 3px solid red;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */        
}

/*Itens do container*/

/*Item do HomePage */
/* Itens do Header homepage*/
.logo-homepage{
    border: 5px solid green;
    display: flex;
    /* flex: grow | shrink | basis */
    flex: 0 0 100px;
     
    justify-content: center; /* Centralizar horizontalmente */
    align-self: center; /* Centraliza verticalmente */
}
.logo-homepage img {
    width: 100%;  
    height: auto; 
    display: block;
}
.titulo-homepage{

    border: 5px solid green;
    /* flex: grow | shrink | basis */
    flex: 1 0 0;
     
    align-self: center;

    text-align: center;
}

/* Itens do Nav homepage*/
.menu-homepage{
    border: 5px solid green;
    display: flex;
    /* flex: grow | shrink | basis */
    flex: 0 0 auto;

    align-self: center;
    
    justify-content: space-around;
}
.menu-homepage a {
    width: 100px;
    text-align: center;
    border: 1px solid black;
}
/* Itens do Aside homepage*/
table, th, td {
  border: 1px solid black;
}

.tabela-homepage{
    border: 5px solid green;
    height: 50%;
    width: 100%;
    display: flex;
}
.listas-homepage{
    border: 5px solid green;
    height: 50%;
    width: 100%;
    display: flex;

}
/* Itens do Main homepage*/
.video-main-homepage{
    border: 5px solid green;
    height: 50%;
    width: 100%;
    display: flex;
}
.main-homepage-item{
    border: 5px solid green;
    height: 50%;
    width: 100%;
    display: flex;    
}
/* Itens do Article homepage*/
.form-article-homepage{
    border: 5px solid green;
    height: 50%;
    width: 100%;
    display: flex;

}
.imagem-article-homepage{
    border: 5px solid green;
    height: 50%;
    width: 100%;
    display: flex;
}

/*Itens do Footer homepage*/
.contato-footer-homepage{
    border: 5px solid green;
    height: 100%;
    width: 50%;
    display: flex;    
}
.item-footer-homepage{
    border: 5px solid green;
    height: 100%;
    width: 50%;
    display: flex;   
}

/*Item do Sobre*/

/* Itens do Header sobre*/
.logo-sobre{
    border: 5px solid green;
    height: 100px;
    
    display: flex;
}
.titulo-sobre{
    border: 5px solid green;

    display: flex;
    align-self: stretch;
    flex-grow: 1;
    
    justify-content: space-around;
    align-items: center;

}

/* Itens do Nav sobre */
.menu-sobre{
    border: 5px solid green;
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu-item-sobre{
    border: 5px solid green;
    height: 100%;
    width: 40%;
    
    display: flex;
}

/* Itens do Aside sobre*/
.paragrafo-sobre{
    border: 5px solid green;
    height: 100%;

    display: flex;
    align-self: stretch;    
}

/* Itens do Main sobre*/
.tabela-sobre{
    border: 5px solid green;
    height: 100%;
    width: 100%;

    display: flex;
    align-self: center;
    
}
.video-main-sobre{
    border: 5px solid green;
    height: 100%;
    width: 100%;

    display: flex;
    align-self: center;

}

/*Itens do Article sobre */
.article-item-sobre{
    border: 5px solid green;
    height: 100%;
    width: 100%;

    display: flex;
    align-self: stretch;
}

/*Itens do Section sobre*/
.section-sobre{
    border: 5px solid green;
    height: 100%;
    width: 100%;    
    
    display: flex;
    align-self: stretch;
}

/*Itens do Footer sobre*/
.contato-footer-sobre{
    border: 5px solid green;

    display: flex;
    align-self: stretch;
    flex-grow: 1;

}

/*Item do Contato*/

/* Itens do Header contato*/
.logo-contato{
    border: 5px solid green;
    width: 100px;
    height: 100px;
    display: flex;
}
.titulo-contato{
    border: 5px solid green;
    display: flex;
    align-self: stretch;
  
}

/* Itens do Nav contato */
.menu-contato{
    border: 5px solid green;
    display: flex;
    align-self: stretch;

    justify-content: space-around;
    align-items: center;
}
/*Itens da Section contato*/
.section-contato{
    border: 5px solid green;
    display: flex;
    align-self: stretch;
}

/*Itens do Aside*/
.form-contato{
    border: 5px solid green;

    display: flex;
    align-self: stretch;
}
.paragrafo-contato{
    border: 5px solid green;
    display: flex;
    align-self: stretch;
}
.figure-contato{
    border: 5px solid green;
}

/*Itens do Main contato*/
.listas-contato{
    border: 5px solid green;

    display: flex;
    justify-content: space-around;
    align-self: stretch ;
}
.video-main-contato{
    border: 5px solid green;
    
    display: flex;
    align-self: stretch;
}
/*Itens do Articles contato*/
.imagens-articles-contato{
    border: 5px solid green;

    display: flex;
    align-self: stretch;
}
.paragrafo-articles-contato{
    border: 5px solid green;

    display: flex;
    align-self: stretch;

}
/*Itens do Footer contato*/
.contato-footer-contato{
    border: 5px solid green;
    height: 100%;
    width: 100%;
    display: flex;
}

/*Grid Mobile HomePage*/
@media (max-width: 768px) {
    .area-homepage{
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'article'
        'aside'
        'footer';
        grid-template-columns: 1fr; /* 1 coluna de tamanho igual*/
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr; /* 6 linhas de tamanhos diferentes*/
        background-color: white;
    }

/*Grid Mobile Sobre*/
    .area-sobre{
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'article'
        'aside'
        'section'
        'footer';
        grid-template-columns: 1fr; /* 1 coluna de tamanho igual*/
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr; /* 7 linhas de tamanhos diferentes*/
        background-color: black;
    }


/* Grid Mobile Contato */
    .area-contato{
        grid-template-areas: 
        'header'
        'nav'
        'section'
        'main'
        'aside'
        'article'
        'footer';
        grid-template-columns: 1fr; /* 1 coluna de tamanho igual*/
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr; /* 6 linhas de tamanhos diferentes*/
        background-color: white;
    }
}   