/* Layout da HomePage*/
/* Grid Area */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho do elemento */
}
.area-homepage{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'aside main article'
    'footer footer footer';
    grid-template-columns: repeat(3,1fr); /* 3 colunas de tamanho igual*/
    grid-template-rows: 0.5fr 0.5fr 2.5fr 1fr; /* 4 linhas de tamanhos diferentes*/
    gap: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
header{
    grid-area: header;
    border: 1px solid black;
    background-color: lightgray;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    background-color: lightgray;
}
aside{
    grid-area: aside;
    border: 1px solid blue;
    background-color: lightgray;
}
article{
    grid-area: article;
    border: 1px solid blue;
    background-color: lightgray;
}
main{
    grid-area: main;
    border: 1px solid blue;
    background-color: lightgray;
}
footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: lightgray;
}

/* Layout da Sobre */
/* Grid Area */
.area-sobre{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'aside main article'
    'section section section'
    'footer footer footer';
    grid-template-columns: 0.5fr 2fr 0.5fr; /* 3 colunas de tamanho igual*/
    grid-template-rows: 0.5fr 0.5fr 2.5fr 1fr 1fr; /* 5 linhas de tamanhos diferentes*/
    gap: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

header{
    grid-area: header;
    border: 1px solid black;
    background-color: white;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    background-color: white;
}
aside{
    grid-area: aside;
    border: 1px solid blue;
    background-color: white;
}
article{
    grid-area: article;
    border: 1px solid blue;
    background-color: white;
}
main{
    grid-area: main;
    border: 1px solid blue;
    background-color: white;
}

section{
    grid-area: section;
    border: 1px solid black;
    background-color: white;
}


footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: white;
}
/* Layout da Contato */
/* Grid Area */
.area-contato{
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'section section section'
    'aside main article'
    'footer footer footer';
    grid-template-columns: 2fr 0.5fr 0.5fr; /* 3 colunas de tamanho igual*/
    grid-template-rows: 0.5fr 0.5fr 1fr 2.5fr 1fr; /* 5 linhas de tamanhos diferentes*/
    gap: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
header{
    grid-area: header;
    border: 1px solid black;
    background-color: white;
}
nav{
    grid-area: nav;
    border: 1px solid black;
    background-color: white;
}

section{
    grid-area: section;
    border: 1px solid black;
    background-color: white;
}
aside{
    grid-area: aside;
    border: 1px solid blue;
    background-color: white;
}
article{
    grid-area: article;
    border: 1px solid blue;
    background-color: white;
    
}
main{
    grid-area: main;
    border: 1px solid blue;
    background-color: white;
}
footer{
    grid-area: footer;
    border: 1px solid black;
    background-color: white;
}

/*Flexbox HomePage*/

/* Header container homepage*/
.header-container-homepage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 3px solid red;
}

/* Nav container homepage*/
.nav-container-homepage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid red;
}

/* Aside container homepage*/
.aside-container-homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    border: 3px solid red;
}
/* Main container homepage*/
.main-container-homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border: 3px solid red;

}
/* Article container homepage*/
.article-container-homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border: 3px solid red;
}
/* Footer container homepage*/
.footer-container-homepage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 3px solid red;    
}

/* Flexbox Sobre */

/* Header container sobre*/
.header-container-sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 3px solid red;
}
/* Nav container sobre*/
.nav-container-sobre{
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/*Aside container sobre*/
.aside-container-sobre{
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* Main container sobre */
.main-container-sobre{
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
/* Article container sobre */
.article-container-sobre{
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
/*Section container sobre*/
.section-container-sobre{
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

/* Footer container sobre*/
.footer-container-sobre{
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*Flexbox Contato*/

/* Header container contato*/
.header-container-contato{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 3px solid red;
}

/* Nav container contato*/
.nav-container-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid red;
}
/*Section container contato*/
.section-container-contato{
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

/* Aside container contato*/
.aside-container-contato{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid red;
}
/* Main container contato*/
.main-container-contato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border: 3px solid red;

}
/* Article container contato*/
.article-container-contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border: 3px solid red;
}
/* Footer container contato*/
.footer-container-contato{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 3px solid red;    
}


/*Itens do container*/

/*Item do HomePage */
/* Itens do Header homepage*/
.logo-homepage{
    width: 50px;
    height: 50px;
    border: 5px solid green;
    display: flex;
    flex-basis: auto;    
;}
.titulo-homepage{
    display: flex;
    flex-grow: 1;
    border: 5px solid green;  
}

/* Itens do Nav homepage*/
.menu-homepage{
    border: 5px solid green;
    display: flex;
    flex-grow: 0.3;
    align-self: stretch;
  
    align-items: center;
    Justify-content: space-evenly;
}
/* Itens do Aside homepage*/
table, th, td {
  border: 1px solid black;
}

.tabela-homepage{
    border: 5px solid green;
    display: flex;
    align-self: stretch;

    align-items: center;
    Justify-content: space-evenly;
}
.listas-homepage{
    border: 5px solid green;
    display: flex;
    align-self: stretch;

    justify-content: space-evenly;
    flex-direction: column;
    align-items: center; 

}
/* Itens do Main homepage*/
.video-main-homepage{
    display: flex;
    align-self: stretch;
    border: 5px solid green;
}
/* Itens do Article homepage*/
.form-article-homepage{
    display: flex;
    align-self: stretch;
    border: 5px solid green;
}
.imagem-article-homepage{
    display: flex;
    align-self: auto;
    flex-basis: auto;
    border: 5px solid green;
}

/*Itens do Footer homepage*/
.contato-footer-homepage{
    display: flex;
    align-self: stretch;
    flex-grow: 1;
    border: 5px solid green;
}

/*Item do Sobre*/

/* Itens do Header sobre*/
.logo-sobre{
    width: 50px;
    height: 50px;
    border: 5px solid green;
    display: flex;
    flex-basis: auto;
}
.titulo-sobre{
    display: flex;
    flex-grow: 1;
    border: 5px solid green;  
}

/* Itens do Nav sobre */
.menu-sobre{
    border: 5px solid green;
    display: flex;
    flex-grow: 0.3;
    align-self: stretch;
  
    align-items: center;
    Justify-content: space-evenly;
}

/* Itens do Aside sobre*/
.paragrafo-sobre{
    border: 5px solid green;
    display: flex;
    align-self: stretch;
}

/* Itens do Main sobre*/
.tabela-sobre{
    border: 5px solid green;
}
.video-main-sobre{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid green;
}

/*Itens do Article sobre */
.article-item-sobre{
    border: 5px solid green;
    display: flex;
    align-self: stretch;
}

/*Itens do Section sobre*/
.section-sobre{
    border: 5px solid green;
    display: flex;
    align-self: stretch;
}

/*Itens do Footer sobre*/
.contato-footer-sobre{
    display: flex;
    align-self: stretch;
    flex-grow: 1;
    border: 5px solid green;
}

/*Item do Contato*/

/* Itens do Header contato*/
.logo-contato{
    width: 50px;
    height: 50px;
    border: 5px solid green;
    display: flex;
    flex-basis: auto;
}
.titulo-contato{
    display: flex;
    flex-grow: 1;
    border: 5px solid green;  
}

/* Itens do Nav contato */
.menu-contato{
    border: 5px solid green;
    display: flex;
    flex-grow: 0.3;
    align-self: stretch;
  
    align-items: center;
    Justify-content: space-evenly;
}
/*Itens da Section contato*/
.section-contato{
    border: 5px solid green;
    display: flex;
    align-self: stretch;
}

/*Itens do Aside*/
.form-contato{
    border: 5px solid green;
}
.paragrafo-contato{
    border: 5px solid green;
}
.figure-contato{
    border: 5px solid green;
}

/*Itens do Main contato*/
.listas-contato{
    border: 5px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap; 
}
.video-main-contato{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid green;
}
/*Itens do Articles contato*/
.imagens-articles-contato{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid green;
}
.paragrafo-articles-contato{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid green;
}
/*Itens do Footer contato*/
.contato-footer-contato{
    display: flex;
    align-self: stretch;
    flex-grow: 1;
    border: 5px solid green;
}

/*Grid Mobile HomePage*/
@media (max-width: 768px) {
    .area-homepage{
        grid-template-areas: 
        'header header'
        'nav nav'
        'main main'
        'article aside'
        'footer footer';
        grid-template-columns: 2fr; /* 2 coluna de tamanho igual*/
        grid-template-rows: 0.5fr 0.5fr 2fr 1fr 1fr; /* 5 linhas de tamanhos diferentes*/
        background-color: white;
    }

/*Grid Mobile Sobre*/
    .area-sobre{
        grid-template-areas: 
        'header header'
        'nav nav'
        'main main'
        'article aside'
        'section section'
        'footer footer';
        grid-template-columns: 2fr; /* 2 coluna de tamanho igual*/
        grid-template-rows: 0.5fr 0.5fr 2fr 1fr 1fr 1fr; /* 6 linhas de tamanhos diferentes*/
        background-color: white;
    }


/* Grid Mobile Contato */
    .area-contato{
        grid-template-areas: 
        'header header'
        'nav nav'
        'section section'
        'main main'
        'article aside'
        'footer footer';
        grid-template-columns: 2fr; /* 2 coluna de tamanho igual*/
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 2fr 1fr; /* 6 linhas de tamanhos diferentes*/
        background-color: white;
    }
}   